<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de compras</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="css/estilos.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400&family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/e3ba4cd104.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/estiloIndex.css">
</head>

<body>
  <header  id="inicio" class="encabezadoCarrito">

    <div class="contenido-navegacion">

      <nav class="topnav" id="myTopnav">
        <a href="index.html" class="active">2<span>MC</span></a>
        <a href="altas.html">Alta de productos</a>
        <a href="listado.html">Listado de productos</a>
        <a href="modificaciones_sinVue3.html">Modificar datos de productos</a>
        <a href="listadoEliminar.html">Eliminar productos</a>
        <a href="carrito1.html">Carrito de compras</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i> </a>
      </nav>
      <div>
        <div class="img">
          <img src="img/logo_codo.png" alt="codoacodo" width="100px">
        </div>
      </div>
    </div> 

    <section>
      <div id="app">
        
        <div class="div-lista"><h1>Carrito de compras</h1></div>
       
        <table >
          <thead>
            <tr class="TablaLista">
              <th>Código&nbsp;</th>
              <th>&nbsp;Descripción Gral.&nbsp;</th>
              <th>&nbsp;Esp. Técnica&nbsp;</th>
              <th>&nbsp;Cantidad&nbsp;</th>
              <th>&nbsp;Precio Unitario $&nbsp;</th>
              <th>&nbsp;Carrito</th>
            </tr>
          </thead>
          <tbody class="TablaProductos">
            <tr v-for="producto in productos" :key="producto.codigo">
              <td>{{ producto.codigo     }}</td>
              <td>{{ producto.descripcion}}</td>
              <td>{{ producto.valor      }}</td>
              <td>{{ producto.cantidad   }}</td>
              <td>{{ producto.precio     }}</td>        
              <td>
                <button @click="agregarAlCarrito(producto)">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</button>
                <button @click="restarDelCarrito(producto)">&nbsp;&nbsp;<b>-</b>&nbsp;&nbsp;</button>
              </td>
            </tr>
          </tbody>
        </table>
    
        <div v-if="mostrarCarrito">
          <h3>Productos en el carrito:</h3>
          <table>
            <thead class="CarritoProductos">
              <tr class="ListadoC">
                <th>Código&nbsp;</th>
                <th>&nbsp;Descripción Gral.&nbsp;</th>
                <th>&nbsp;Esp. Técnica&nbsp;</th>
                <th>&nbsp;Cantidad&nbsp;&nbsp;</th>
                <th>&nbsp;Precio Unitario $&nbsp;</th>
                <th>&nbsp;Sub Total $</th>
                
              </tr>
            </thead>
            <div hidden>{{tt=0}}</div>
             
            <tbody class="TablaProductos"  >
              <tr v-for="item in carrito" :key="item.codigo" >
                <td>{{ item.codigo      }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.valor       }}</td>
                <td>{{ item.cantidad    }}</td>
                <td>{{ item.precio      }}</td>
                <!-- <td>{{ item.cantidad*item.precio}}</td> -->
                <td >{{ tt=tt+(item.precio*item.cantidad) }}</td>
              </tr>
              <div><th >Monto Total $: {{tt}}</th></div>
            </tbody>
            
          </table>
          
          
        </div>
        <div v-if="!mostrarCarrito" class="contenedor-centrado">
          <button @click="obtenerCarrito">Mostrar carrito</button>
        </div>
    
        <div class="contenedor-centrado">
          <a href="index.html">Menu principal</a>
        </div>
    
      </div>
    
        <h2>Codo a Codo 2023</h2>
   </section>



 
  <script src="JS/script.js"> </script>
  <script src="JS/carrito1.js"> </script>
</body>

</html>